.BooksListC {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 90%;
  border-radius: 2px;
  padding: 15px 0;
}

.tittle-circle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  margin-left: 50px;
}

.book-info h2 {
  color: black;
  width: max-content;
}

.author {
  color: #65aeff;
}

.book-buttons {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.book-button {
  background: none;
  border: none;
}

.percentage-container {
  display: flex;
  flex-direction: row;
  padding-right: 60px;
  align-items: center;
}

.percentage-img {
  width: 80px;
  height: 80px;
}

.percentage {
  font-size: 30px;
  margin-left: 10px;
  color: black;
}

.Completed {
  color: gray;
  margin-left: 10px;
}

.current-chapter-container {
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-chapter-container p {
  margin-bottom: 5px;
}

.current-chapter {
  color: gray;
}

.chapter {
  color: black;
}

.current-chapter-container button {
  background-color: #248cff;
  border: none;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  width: 160px;
  padding: 8px 12px 8px 12px;
  font-size: 10.5px;
}

.categorie {
  font-weight: bold;
  color: grey;
}