.add-new-book {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 30px;
  background-color: darkslateblue;
  padding: 10px;
  margin-bottom: 50px;
}

.new-book-input {
  width: 45%;
  border: 3px solid #000;
  font-size: large;
  font-style: oblique;
}

.categorie {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  gap: 5px;
}

.categorie select,
button {
  background-color: darkslateblue;
  border-color: aqua;
  cursor: pointer;
}
