.new-book-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.add-new-book {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  background-color: #eff1f3;
  padding: 10px 0 10px 0;
  margin-bottom: 50px;
}

.new-book-input {
  width: 55%;
  border: 1px solid #c4c4c4;
  font-size: medium;
  font-style: oblique;
  border-radius: 2px;
  padding: 6px;
  color: gray;
}

.categorie {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 45%;
}

.categorie select,
button {
  background-color: #fff;
  cursor: pointer;
  color: black;
}

.categorie button {
  background-color: #248cff;
  color: #fff;
  border: none;
  border-radius: 2px;
  width: 30%;
}

.categorie select {
  color: grey;
  border-radius: 2px;
  border: 1px solid #c4c4c4;
  width: 70%;
}

h2 {
  color: gray;
}
