* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #248cff;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #eff1f3;
  height: 100vh;
}

.Header-Container {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  height: 60px;
  align-items: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 60px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  padding: 10px 0 10px 0;
}

.Tittle {
  margin-left: 6%;
  font-weight: bold;
}

.books-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.books-menu a {
  text-decoration: none;
  font-size: medium;
}

.menu {
  color: dimgray;
  letter-spacing: 2px;
  font-size: 14px;
}

.menuc {
  color: darkgray;
  letter-spacing: 2px;
}

.user-icon {
  width: 40px;
  height: 40px;
  border: #c4c4c4 solid 1px;
  border-radius: 90px;
  margin-right: 6%;
}
