* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: aqua;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Header-Container {
  display: flex;
  flex-direction: row;
  gap: 15%;
  border-bottom: 2px solid #000;
}

.Tittle {
  margin-left: 10%;
}

.books-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}