* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #248cff;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #eff1f3;
  height: 100%;
}

.Header-Container {
  display: flex;
  flex-direction: row;
  gap: 15%;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
  height: 60px;
  align-items: center;
}

.Tittle {
  margin-left: 6%;
  font-weight: bold;
}

.books-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.books-menu a {
  text-decoration: none;
  font-size: medium;
}

.menu {
  color: black;
  letter-spacing: 2px;
}

.menuc {
  color: darkgray;
  letter-spacing: 2px;
}
